<h2>Cosul tau de cumparaturi</h2>
<p>Mai jos puteti vizualiza produsele adaugate anterior in cos:</p>

@if (ViewBag.Message != null)
{
    <h2 class="alert-secondary p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}

@{
    bool noProducts = true;
}

@foreach (vinTEAge.Models.InCart item in ViewBag.ProductsInCart.InCarts)
{
    noProducts = false;
    <div class="card text-center">

        <div class="card-body">
            <div class="d-flex d-flex justify-content-between align-items-center">
                <h5> @item.Product.Title</h5>
                <p class="card-text"><i class="bi bi-tag"></i>@item.Product.Price lei</p>
            </div>
        </div>
        <div class="card-footer d-flex flex-row align-content-center justify-content-between">
            <div>
                <a href="/Products/Show/@item.Product.ProductId" class="btn btn-outline-secondary">Vizualizare produs <i class="bi bi-eyeglasses"></i></a>
            </div>
            <div>@item.Date</div>
            <div>
                <form method="post" action="/InCarts/Delete">
                    <input type="hidden" name="ProductId" value="@item.ProductId" />
                    <input type="hidden" name="UserId" value="@item.UserId" />
                    <input type="hidden" name="Id" value="@item.Id" />
                    <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-trash"></i> Elimina din cos</button>
                </form>
            </div>
        </div>
    </div>
}


@*Daca nu exista produse in cos*@

@if (noProducts)
{
    <div class="card text-center">
        <div class="card-header"></div>
        <div class="card-body">
            Nu ai adaugat nimic in cosul de cumparaturi.
        </div>
        <div class="card-footer text-muted"></div>
    </div>
}