@model vinTEAge.Models.Product

<h2>Modificare "@Model.ProductId. @Model.Title"</h2>
</br>

<form method="post" action="/Products/Edit/@Model.ProductId">
    @Html.Label("Title", "Nume produs")
    <br />
    @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" }, value = Model.Title })
    <br /><br />

    @Html.Label("Description", "Descriere produs")
    <br />
    @Html.Editor("Description", new { htmlAttributes = new { @class = "form-control" }, value = Model.Description })
    <br /><br />

    @Html.Label("Photo", "Poza")
    <br />
    @Html.EditorFor(m => m.Photo, new { htmlAttributes = new { @class = "form-control" }, value = Model.Photo })
    <br /><br />

    @Html.HiddenFor(m => m.Rating)

    @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categ, "Value", "Text"), "Selectati categoria", new { @class = "form-control" })
    <br />

    @Html.Label("Price", "Pret")
    <br />
    @Html.EditorFor(m => m.Price, new { @class = "form-control", type="numeric", min="1", value= Model.Price })
    <br /><br />

    <button class="btn btn-outline-secondary" type="submit">Modifica produs</button>
</form>