<h2>Modificare "@ViewBag.Product.ProductId. @ViewBag.Product.Title"</h2>
</br>

<form method="post" action="/Products/Edit/@ViewBag.Product.ProductId">
    <label>Nume produs: </label>
    <input type="text" name="Title" value="@ViewBag.Product.Title" />
    </br>
    </br>

    <label>Descriere: </label>
    <textarea type="text" name="Description">@ViewBag.Product.Description</textarea>
    </br>
    </br>

    <label>Poza: </label>
    <input type="text" name="Photo" value="@ViewBag.Product.Photo" />
    </br>
    </br>

    <label>Selectati categoria</label>
    <select name="CategoryId">
        @foreach (var category in ViewBag.Categories)
        {
            if (category.CategoryId == ViewBag.Category.CategoryId) {
                <option selected="selected" value="@category.CategoryId">@category.CategoryName</option>
            }
            else {
                <option value="@category.CategoryId">@category.CategoryName</option>
            }
        }
    </select>
    </br>
    </br>

    <label>Pret: </label>
    <input type="number" step="any" name="Price" value="@ViewBag.Product.Price" />
    </br>
    </br>

    <input type="hidden" name="Rating" value="" />

    <button class="btn btn-outline-secondary" type="submit">Modifica produs</button>
</form>