@*Afisare detalii produs*@
<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <img src="@ViewBag.Product.Photo" class="card-img-top" alt="@ViewBag.Product.Title">
        </li>
        <li class="list-group-item">
            <div class="d-flex flex-row justify-content-between align-items-center">
                <h3 class="card-title p-2">@ViewBag.Product.Title</h3>
                <div class="card-text p-2"><i class="bi bi-tag"></i> @ViewBag.Product.Price lei</div>
            </div>
        </li>
        <li class="list-group-item">
            <h5 class="card-subtitle mb-2 text-muted">@ViewBag.Category.CategoryName</h5>
        </li>

        <li class="list-group-item">
            <div class="card-text"><i class="bi bi-star-half"></i> @ViewBag.Product.Rating/10</div>
        </li>

        <li class="list-group-item">
            <div class="card-text">@ViewBag.Product.Description</div>
        </li>

        <li class="list-group-item">
            <div class="d-flex flex-row align-content-center justify-content-start">
            <a class="btn btn-outline-secondary" href="/Products/Edit/@ViewBag.Product.ProductId">Editeaza produs</a>
            <form method="post" action="/Products/Delete/@ViewBag.Product.ProductId">
                <button class="btn btn-outline-secondary" type="submit">Sterge produs</button>
            </form>
            </div>
            <div class="d-flex flex-row align-content-center justify-content-end">
            <a class="btn btn-outline-secondary" href="/Reviews/New/@ViewBag.Product.ProductId">Adauga review!</a>
            </div>
        </li>
    </ul>
</div>


</br>
</br>


@*Afisare review-uri produs*@

@{ bool viewBagEmpty = true; }
@foreach (var review in ViewBag.Reviews)
{
    viewBagEmpty = false;
    <div class="card text-center">
        <div class="card-header">@*Utilizator @review.UserId*@</div>

        <div class="card-body">
            <h5><i class="bi bi-star-half"></i> @review.Rating/10</h5>
            <p class="card-text">@review.Text</p>
        </div>

        <div class="card-footer text-muted">
            <div class="d-flex d-flex justify-content-between align-items-center">
               
               <div>
                    <a class="btn btn-outline-secondary" href="/Reviews/Edit/@review.ReviewId"><i class="bi bi-pencil-square"></i>Editeaza</a>
               </div>

               <div>@review.Date</div>

               <div>
                    <form method="post" action="/Reviews/Delete/@review.ReviewId">
                        <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-trash"></i>Sterge</button>
                    </form>
               </div>
           </div>
        </div>
    </div>
}


@*Daca nu exista review-uri*@

@if (viewBagEmpty)
{
    <div class="card text-center">
        <div class="card-header"></div>
        <div class="card-body">
            Acest produs nu are review-uri.
        </div>
        <div class="card-footer text-muted"></div>
    </div>
}













