@model vinTEAge.Models.Review 

<h2>Modificarea review-ului @Model.ReviewId</h2>
<br />

@using (Html.BeginForm(actionName: "Edit", controllerName: "Reviews", method: FormMethod.Post, routeValues: new { id = Model.ReviewId }))
{
    @Html.Label("Text", "Review-ul tau: ")
    <br />
    @Html.EditorFor(m => m.Text, new { htmlAttributes = new { @class = "form-control" }, value = Model.Text })
    <br />
    <br />
   @Html.ValidationMessageFor(m => m.Text, null, new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("Rating", "Rating-ul tau: ")
    <br />
    @Html.EditorFor(m => m.Rating, new { htmlAttributes = new { @class = "form-control" }, value = Model.Rating })
    <br />
    <br />
    @Html.ValidationMessageFor(m => m.Rating, null, new { @class = "text-danger" })
    <br />
    <br />

    @Html.HiddenFor(m => m.ProductId, new{ value = Model.ProductId})
    @Html.HiddenFor(m => m.Date, new{ value = DateTime.Now})
    
    <button class="btn btn-outline-secondary" type="submit">Editeaza review-ul!</button>
}


@try
{
        @foreach(var err in ViewBag.Errors)
    {
        <div>
            @err
        </div>
    }

}
catch
{

}
